/* ========================= */
/* ----- GLOBAL STYLES ----- */
/* ========================= */
* {
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
    letter-spacing: 0.3px;
}

/* ========================= */
/* -------- LAYOUT --------- */
/* ========================= */
.wrapper {
    width: 95%;
    margin: 0 auto;
}

.fset1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.fset1 div {
    flex-grow: 1;
    margin-bottom: 10px;
}

.fset1 div:nth-last-child(1) {
    margin-bottom: 30px;
}

p:nth-child(2) {
    margin-top: 0px;
}

#other-topics {
    margin-top: 10px;
}

#pt-newsletter-format {
    margin-bottom: 20px;
}

#zip-code {
    width: 50%;
}

/* ========================= */
/* ------ BASE STYLES ------ */
/* ========================= */
body {
    margin: 0;
    color: rgb(130, 130, 130);
}

header {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgb(60, 60, 60);
}

h1 {
    margin-top: 0;
    padding: 20px;
    text-transform: uppercase;
    font-size: 2rem;
}

legend {
    width: 100%;
    padding: 30px 0 20px 0;
    border-top: solid 2px rgb(60, 60, 60);
    font-weight: bold;
    color: rgb(60, 60, 60);
    font-size: 1.5rem;
}

label {
    font-size: 1rem;
}

fieldset {
    border: none;
    padding: 0;
    margin: 5px 0 10px 0;
}

button[type="submit"] {
    width: 100%;
    color: white;
    background-color: rgb(0, 153, 255);
    border: 1px solid rgb(0, 153, 255);
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.5rem;
}

.fset1 input,
.fset1 select,
textarea {
    display: block;
    margin: 5px 0 0 0;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    border: solid rgb(226, 226, 226) 1px;
    height: 40px;
    width: 100%;
}

input[type="checkbox"],
input[type="radio"],
button[type="submit"],
label {
    cursor: pointer;
}

footer {
    font-style: italic;
    text-align: center;
    padding: 20px;
}

/* ========================= */
/* ----- OTHER STYLES ------ */
/* ========================= */
.intro {
    text-align: center;
}

.intro h2 {
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(60, 60, 60);
    margin-bottom: 10px;
}

.intro p {
    margin-top: 0px;
    margin-bottom: 1px;
    border-bottom: solid 4px rgb(60, 60, 60);
    padding-bottom: 30px;
}

input::placeholder {
    color: rgb(130, 130, 130);
    text-align: right;
    font-size: 0.8rem;
    font-style: italic;
    padding-right: 15px;
}

textarea::placeholder {
    color: rgb(130, 130, 130);
    font-size: 0.8rem;
    font-style: italic;
    padding-right: 15px;
}

button[type="submit"]:hover {
    background-color: rgb(0, 120, 201);
    border: 1px solid rgb(0, 120, 201);
    color: black;
}

input[type=checkbox]:checked {
    background-color: rgb(0, 153, 255);
    color: white;
}

input:focus,
select:focus,
textarea:focus {
    border: 5px solid rgb(60, 60, 60);
    background: white;
    transition-duration: 0.2s;
}
input:hover,
select:hover,
textarea:hover {
    background: white;
}

/* ========================= */
/* ----- MEDIA QUERIES ----- */
/* ========================= */
@media (min-width: 768px) {

    .wrapper {
        width: 50%;
    }

    .fset1 div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .fset1 input,
    .fset1 select {
        max-width: 70%;
    }

    .fset1 input,
    .fset1 label,
    .fset1 select {
        flex-grow: 1;
    }

    #zip-code {
        max-width: 35%;
    }

    .small-label {
        max-width: 30%;
    }
}